nav.navbar,
.navbar-default {
	background-color: black;
	margin-bottom: -20px;
	width: 100%;
}

.navbar-default {
	background-image: black;
	border: black;
	border-radius: 0;
	width: 100vw;
	text-align: start;
}
