body {
	overflow-x: hidden;
}
.LUT {
	background-image: url('assets/lappeenranta_kuva.png');
	height: 100vh;
	width: 100vw;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
